In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(2)

        imdb_id    budget    revenue  ... release_date vote_average release_year
1644  tt0293508  70000000  154648887  ...    12/8/2004          6.8         2004
1236  tt1486834  11000000    7847000  ...     9/7/2013          6.7         2013

[2 rows x 14 columns]

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов

# Создаём дополнительный столбец "profit":
# Обоснование именно этого способа: https://suilin.ru/post/pandas_column/
data = data.assign(profit = lambda x: x.revenue - x.budget)

# Функция разделяет строки Series на слова по разделителю. Возвращает словарь
def unnesting(df_series, delimiter='|'):
    c = Counter()
    for x in df_series.str.split(delimiter): 
        c += Counter(x)

    return c


#преобразуем в формат даты
data['release_date'] = pd.to_datetime(data['release_date'])

In [6]:
data.describe()

             budget       revenue  ...  release_year        profit
count  1.889000e+03  1.889000e+03  ...   1889.000000  1.889000e+03
mean   5.431083e+07  1.553653e+08  ...   2007.860773  1.010545e+08
std    4.858721e+07  2.146698e+08  ...      4.468841  1.830733e+08
min    5.000000e+06  2.033165e+06  ...   2000.000000 -1.657101e+08
25%    2.000000e+07  3.456058e+07  ...   2004.000000  5.000000e+06
50%    3.800000e+07  8.361541e+07  ...   2008.000000  4.400041e+07
75%    7.200000e+07  1.782626e+08  ...   2012.000000  1.201842e+08
max    3.800000e+08  2.781506e+09  ...   2015.000000  2.544506e+09

[8 rows x 6 columns]

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [7]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides' # +

In [8]:
data['original_title'][data['budget'] == data['budget'].max()].iloc[0]

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [9]:
data[data.budget == data.budget.max()].iloc[0]['original_title']

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 3

In [10]:
data[data.budget == data.budget.max()].iloc[0][3]

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 4

In [11]:
data.loc[data.budget.idxmax(),'original_title']

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [12]:
answers['2'] = 'Gods and Generals' # +

In [13]:
data['original_title'][data['runtime'] == data['runtime'].max()].iloc[0]

'Gods and Generals'

ВАРИАНТ 2

In [14]:
data[data.runtime == data.runtime.max()].iloc[0][3]

'Gods and Generals'

ВАРИАНТ 3

In [15]:
data.loc[data['runtime'].idxmax()][3]

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [16]:
answers['3'] = 'Winnie the Pooh' # +

In [17]:
data['original_title'][data['runtime'] == data['runtime'].min()].iloc[0]

'Winnie the Pooh'

ВАРИАНТ 2

In [18]:
data[data.runtime == data.runtime.min()].iloc[0][3]

'Winnie the Pooh'

ВАРИАНТ 3

In [19]:
data.loc[data.runtime.idxmin()][3]

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [20]:
answers['4'] = 110 # +

In [21]:
int(round(data['runtime'].mean()))

110

ВАРИАНТ 2

In [22]:
round(data.runtime.describe()[1])

110

ВАРИАНТ 3

In [23]:
round(data['runtime'].describe()['mean'])

110

# 5. Каково медианное значение длительности фильмов?

In [24]:
answers['5'] = 107 # +

In [25]:
int(round(data['runtime'].median()))

107

ВАРИАНТ 2

In [26]:
data.runtime.describe()['50%']

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [27]:
answers['6'] = 'Avatar' # +

In [28]:
data['original_title'][data['profit'] == data['profit'].max()].iloc[0]

'Avatar'

ВАРИАНТ 2

In [29]:
data.loc[data.profit.idxmax(),'original_title']

'Avatar'

# 7. Какой фильм самый убыточный?

In [30]:
answers['7'] = 'The Lone Ranger' # +

In [31]:
data['original_title'][data['profit'] == data['profit'].min()].iloc[0]

'The Lone Ranger'

ВАРИАНТ 2

In [32]:
data.loc[data.profit.idxmin()][3]

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [33]:
answers['8'] = 1478  # +

In [34]:
data['imdb_id'][data['revenue'] > data['budget']].count()

1478

ВАРИАНТ 2

In [35]:
data[data.revenue > data.budget].count()[0]

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [36]:
answers['9'] = 'The Dark Knight' # +

In [37]:
df = data[data['release_year'] == 2008].copy()
df.loc[df.revenue.idxmax(),'original_title']

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [38]:
answers['10'] = 'The Lone Ranger'  # +

In [39]:
df = data[(data['release_year'] > 2011) & (data['release_year'] < 2015)].copy()
df.loc[df.profit.idxmin(),'original_title']

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [40]:
answers['11'] ='Drama'  # +

In [41]:
df = data['genres'].str.split('|').copy()
df.explode().value_counts().index[0]

'Drama'

ВАРИАНТ 2

In [42]:
data.genres.str.split('|').explode().value_counts().index[0]

'Drama'

ВАРИАНТ 3


---


C использованием внешней функции ```unnesting()```

In [43]:
unnesting(data['genres']).most_common(1)[0][0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [44]:
answers['12'] = 'Drama'  # +

In [45]:
data[data['profit'] > 0].genres.str.split('|').explode().value_counts().index[0]

'Drama'

ВАРИАНТ 2

In [46]:
df = data[data['profit'] > 0].copy()
unnesting(df['genres']).most_common(1)[0][0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [47]:
answers['13'] = 'Peter Jackson'  # +

In [48]:
df = data.copy()
df['director'] = df['director'].str.split('|')
df = df[['director','revenue']].explode('director')
df.groupby('director').agg({'revenue':'sum'}).sort_values('revenue', ascending=False).index[0]

'Peter Jackson'

ВАРИАНТ 2

In [49]:
directors = unnesting(data['director'])
for director in directors:
    directors[director] = data['revenue'][data['director']
                                    .map(lambda x: True if director in x else False)].sum()
directors.most_common()[0][0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [50]:
answers['14'] = 'Robert Rodriguez' # +

In [51]:
df = data[data['genres'].str.contains('Action')].copy()
df['director'] = df['director'].str.split('|')
df.explode('director').director.value_counts().index[0]

'Robert Rodriguez'

ВАРИАНТ 2

In [52]:
df = data[data['genres'].str.contains('Action')].copy()
unnesting(df['director']).most_common()[0][0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [53]:
answers['15'] = 'Chris Hemsworth'# +

In [54]:
df = data[['cast','revenue']][data['release_year'] == 2012].copy()
df['cast'] = df['cast'].str.split('|')
df = df.explode('cast')
df = df.groupby('cast')['revenue'].agg('sum').reset_index()
df.loc[df.revenue.idxmax(),'cast']

'Chris Hemsworth'

ВАРИАНТ 2

In [55]:
df = data[['cast','revenue']][data['release_year'] == 2012].copy()
casts = unnesting(df['cast'])
for cast in casts:
    casts[cast] = df['revenue'][df['cast']
                                .map(lambda x: True if cast in x else False)].sum()
casts.most_common()[0][0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?
Примечание: в фильмах, где бюджет выше среднего по данной выборке.

In [56]:
answers['16'] = 'Matt Damon'# +

In [57]:
df = data['cast'][data['budget'] > data['budget'].mean()].copy()
unnesting(df).most_common()[0][0]

'Matt Damon'

ВАРИАНТ 2

In [58]:
df = data['cast'][data['budget'] > data['budget'].mean()].str.split('|').explode()
df.value_counts().index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [59]:
answers['17'] = 'Action'# +

In [60]:
data['genres'][data['cast'].str.contains('Nicolas Cage')].str.split('|').explode().value_counts().index[0]

'Action'

ВАРИАНТ 2

In [61]:
genres = data['genres'][data['cast'].str.contains('Nicolas Cage')]
unnesting(genres).most_common()[0][0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [62]:
answers['18'] = 'K-19: The Widowmaker'# +

In [63]:
# Создаём копию фрейма, фильтр по 'Paramount Pictures'
# Группируем по фильмам, минимум по 'profit'
df = data[data['production_companies'].str.contains('Paramount Pictures')].copy()
df.groupby(['original_title'])['profit'].agg('min').idxmin()

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [64]:
answers['19'] = 2015# +

In [65]:
data.groupby(['release_year'])['revenue'].agg('sum').idxmax()

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [66]:
answers['20'] = 2014# +

In [67]:
df = data[data['production_companies'].str.contains('Warner Bros')].copy()
df.groupby(['release_year'])['profit'].agg('sum').idxmax()

2014

ВАРИАНТ 2

In [68]:
df = data[data.production_companies.str.contains('Warner Bros',na=False)].copy()
df.groupby('release_year').sum().sort_values('profit',ascending=False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [69]:
answers['21'] = 'Сентябрь'# +

In [70]:
data.groupby(data['release_date'].dt.strftime('%B'))['imdb_id'].count().idxmax()

'September'

In [71]:
data.groupby(data['release_date'].dt.month_name())['imdb_id'].count().idxmax()

'September'

ВАРИАНТ 2

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [72]:
answers['22'] = 450 # +

In [73]:
df = data.groupby(data['release_date'].dt.strftime('%B'))['imdb_id'].count().reset_index()
df[df['release_date'].isin(['June', 'July','August'])].sum()[1]

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [74]:
answers['23'] = 'Peter Jackson' # +

In [75]:
df = data[['director','release_date']].copy()
df['month'] = df['release_date'].dt.strftime('%B')
df = df['director'][df['month'].isin(['December','January','February'])].str.split('|').explode()
df.value_counts().index[0]

'Peter Jackson'

ВАРИАНТ 2

In [76]:
data.director[(data.release_date.dt.month == 12)|
              (data.release_date.dt.month < 3)].str.split('|').explode().value_counts().index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [77]:
answers['24'] = 'Four By Two Productions' # +

In [78]:
df = data[['production_companies','original_title']].copy()
df['production_companies'] = df['production_companies'].str.split('|')
df['original_title'] = df['original_title'].str.len()
df = df.explode('production_companies')
df.groupby('production_companies')['original_title'].mean().idxmax()
# вариант
# df.groupby('production_companies')['original_title'].mean().sort_values(ascending=False)

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [79]:
answers['25'] = 'Midnight Picture Show' # +

In [80]:
df = data[['production_companies','overview']].copy()

# разделяем строку на слова сплитом, считаем длину списка
df['overview'] = df['overview'].map(lambda x: len(x.split()))
df['production_companies'] = df['production_companies'].str.split('|')
df = df.explode('production_companies')
df.groupby('production_companies')['overview'].mean().sort_values(ascending=False).index[0]

# варианты последней строки - только название компании:
# df.groupby('production_companies')['overview'].mean().idxmax()
# df.groupby('production_companies')['overview'].mean().sort_values().index[-1]

'Midnight Picture Show'

ВАРИАНТ 2

In [81]:
df = data[['production_companies','overview']].copy()

# считаем количество пробелов в строке, +1 == количество слов 
df['overview'] = df['overview'].str.count(' ') + 1
df['production_companies'] = df['production_companies'].str.split('|')
df = df.explode('production_companies')
df.groupby('production_companies')['overview'].mean().sort_values(ascending=False).index[0]

# вариант
# df.groupby('production_companies')['overview'].mean().idxmax()

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [82]:
answers['26'] = '1. Inside Out,The Dark Knight,12 Years a Slave' # +

In [83]:
# Перенесём варианты из задания в датафрейм
options = pd.DataFrame([[1,'Inside Out,The Dark Knight,12 Years a Slave'],
                       [2,'BloodRayne,The Adventures of Rocky & Bullwinkle'],
                       [3,'Batman Begins,The Lord of the Rings: The Return of the King,Upside Down'],
                       [4,'300,Lucky Number Slevin,Kill Bill: Vol. 1'],
                       [5,'Upside Down,Inside Out,Iron Man']],
    columns=['option','original_title'])
movies = options.copy()

# Развернём строки
movies['original_title'] = movies['original_title'].str.split(',')
movies = movies.explode('original_title')

# 1% лучших - это "кол-во фильмов" / 100
# сортируем по рейтингу и выбираем первые int(len(df)/100) элементов
df = data[['original_title','vote_average']].copy()
df = df.sort_values('vote_average',ascending=False).head(int(len(df)/100))

# Объединяем датфрейм movies (варианты ответов) с df (1% лучших по рейтингу)
# При слиении добавляем колонку 'check' (True - фильм есть среди 1% лучших, False - нет)
joined = movies.merge(df, on='original_title', how='left').fillna(0)
joined['check'] = joined['vote_average'].map(lambda x: True if x > 0 else False)

# наводим красоту - объединяем индикатор и датафрейм с вариантами
# Функция .all() при группировке возвращает True, если все элементы группы == True
joined = joined.groupby('option')['check'].all()
movies = options.merge(joined, on='option', how='left')
movies[movies.check == True]

   option                               original_title  check
0       1  Inside Out,The Dark Knight,12 Years a Slave   True

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [84]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'  # +

Нужный результат:
для каждой строки (пары актеров) из вариантов задания получить количество фильмов,
в которых они вместе снимались. Выбрать вариант с наибольшим количеством фильмов.

Алгоритм решения:
1. Создать фрейм "план" с вариантами актерских пар.
2. Создать фрейм актеров каждого фильма - "факт"- развернуть основной фрейм по 
колонке 'cast' по ширине. На его основе создать все возможные варианты пар для 
каждого фильма.
3. Посчитать сколько раз строки из "план" встречаются в "факт". При этом важно,
чтобы внутри пар имена были отсортированы.

In [115]:
# Перенесём варианты из задания в датафрейм
options = pd.DataFrame([['Johnny Depp & Helena Bonham Carter'],
                       ['Ben Stiller & Owen Wilson'],
                       ['Vin Diesel & Paul Walker'],
                       ['Adam Sandler & Kevin James'],
                       ['Daniel Radcliffe & Rupert Grint']],
                    columns=['cast'])

# "план" - чистим, сортируем имена внутри пар
options['cast'] = options['cast'].map(lambda x: ' & '.join(sorted(x.split(' & '))))

# "факт" - разворачиваем. Так-как указанное количество актеров в фильмах разное -
# заменяем NaN  на 'Unknown'.
df = data['cast'].str.split('|', expand=True).copy().fillna('Unknown')

# Все парные комбинации колонок из "факт"
cc = list(combinations(df.columns,2))

# Массив всех встречающихся пар актеров, заодно - сортируем имена в строках
couples = np.concatenate([np.sort(df.loc[:, c], axis=1) for c in cc])

# массив в датафрейм
df = pd.DataFrame(couples)
df.columns=['cast_1','cast_2']

# # Объединяем 2 столбца в один через разделитель
df = df.assign(cast = lambda x: x.cast_1 + ' & ' + x.cast_2)

# вывод в одну строку
df = pd.DataFrame(Counter(df['cast']).most_common())
df.columns=['cast','count_movies']
joined = options.merge(df, on='cast', how='left').fillna(0)
joined[joined.count_movies == joined.count_movies.max()]

                              cast  count_movies
4  Daniel Radcliffe & Rupert Grint             8

ВАРИАНТ 2

In [116]:
# без излишеств
df = data['cast'].str.split('|', expand=True)
cc = list(combinations(df.columns,2))
df = pd.DataFrame(np.concatenate([df.loc[:, c] for c in cc]))
df.columns=['cast_1','cast_2']
df = df.assign(cast = lambda x: x.cast_1 + ' & ' + x.cast_2)
df.groupby(df.cast).size().nlargest(20)

cast
Daniel Radcliffe & Emma Watson         8
Daniel Radcliffe & Rupert Grint        8
Rupert Grint & Emma Watson             7
Ben Stiller & Owen Wilson              6
Johnny Depp & Helena Bonham Carter     6
Adam Sandler & Kevin James             5
Hugh Jackman & Ian McKellen            5
Kristen Stewart & Robert Pattinson     5
Kristen Stewart & Taylor Lautner       5
Robert Pattinson & Taylor Lautner      5
Christian Bale & Michael Caine         4
Costas Mandylor & Betsy Russell        4
Eddie Murphy & Cameron Diaz            4
George Clooney & Brad Pitt             4
Hugh Jackman & Halle Berry             4
Jennifer Lawrence & Josh Hutcherson    4
Jennifer Lawrence & Liam Hemsworth     4
Jennifer Lawrence & Woody Harrelson    4
Josh Hutcherson & Liam Hemsworth       4
Josh Hutcherson & Woody Harrelson      4
dtype: int64

ВАРИАНТ 3

In [117]:
# С итерацией по строкам датафрейма, что как-бы не рекомендуется
df = data.copy()
actors = []
for cast in df.cast.str.split('|'):
    actors.extend(list(combinations(cast, 2)))
pd.DataFrame(actors).value_counts()
# pd.Series(actors).value_counts()

0                    1
Daniel Radcliffe     Emma Watson                 8
                     Rupert Grint                8
Rupert Grint         Emma Watson                 7
Ben Stiller          Owen Wilson                 6
Johnny Depp          Helena Bonham Carter        6
                                                ..
Matthew McConaughey  Rene Russo                  1
                     Reese Witherspoon           1
                     Powers Boothe               1
                     PenÃ©lope Cruz              1
50 Cent              Adewale Akinnuoye-Agbaje    1
Length: 18121, dtype: int64

# Submission

In [ ]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

In [ ]:
# и убедиться что ни чего не пропустил)
len(answers)